.DS_Store
.sass-cache/
*.css.map
tmp
.jekyll-metadata
_site
npm-debug.log
.tern-port
auto/
.asset-cache/
.jekyll-assets-cache/
Gemfile.lock
.auctex-auto/
vendor
.bundle
.Rproj.user
.Rhistory
blogdown
public
Thumbs.db
resources/
data-config/ansp-ace.geojson
data-config/ansp_q_facts.rds
data-config/tbl_admin.rds
data-config/tbl_main.rds
data-config/world-capitals.rds

# Local Netlify folder
.netlify