
{{ define "main" }}
<main>
    <article>
        <header>
            <h3>{{.Title}}</h3>
        </header>
        {{.Content}}
        {{ range .Pages.GroupByDate "2006-01" "desc" }}
        <h3>{{ .Key }}</h3>
        <ul>
            {{ range .Pages.ByDate }}
            <li>
            <div class="meta"><strong>{{ .Date.Format "Mon, Jan 2, 2006" }}</strong></div>
            <div style=color:grey;> <strong>{{ .Params.Type}}</strong></div>
            <a href="{{ .Permalink }}">{{ .Title }}</a><br>
            </li>
            {{ end }}
        </ul>
        {{ end }}

    </article>

</main>
{{ end }}